<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuge.stock.mapper.StockTradeDayAverageMapper">
    

    <sql id="selectStockTradeDayAverageVo">
        select id, stock_code, stock_ts_code, stock_name, trade_date, price_open, price_change, pct_chg, stock_vol, stock_vol_num, stock_amount, stock_amount_num, create_time from stock_trade_day_average
    </sql>

    <select id="selectStockTradeDayAverageList" parameterType="com.qiuge.stock.domain.StockTradeDayAverage" >
        <include refid="selectStockTradeDayAverageVo"/>
        <where>  
            <if test="stockCode != null  and stockCode != ''"> and stock_code = #{stockCode}</if>
            <if test="stockTsCode != null  and stockTsCode != ''"> and stock_ts_code = #{stockTsCode}</if>
            <if test="stockName != null  and stockName != ''"> and stock_name like concat('%', #{stockName}, '%')</if>
            <if test="tradeDate != null "> and trade_date = #{tradeDate}</if>
            <if test="priceOpen != null "> and price_open = #{priceOpen}</if>
            <if test="priceChange != null "> and price_change = #{priceChange}</if>
            <if test="pctChg != null "> and pct_chg = #{pctChg}</if>
            <if test="stockVol != null "> and stock_vol = #{stockVol}</if>
            <if test="stockVolNum != null  and stockVolNum != ''"> and stock_vol_num = #{stockVolNum}</if>
            <if test="stockAmount != null "> and stock_amount = #{stockAmount}</if>
            <if test="stockAmountNum != null  and stockAmountNum != ''"> and stock_amount_num = #{stockAmountNum}</if>
        </where>
    </select>
    
    <select id="selectStockTradeDayAverageById" parameterType="String">
        <include refid="selectStockTradeDayAverageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStockTradeDayAverage" parameterType="com.qiuge.stock.domain.StockTradeDayAverage">
        insert into stock_trade_day_average
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stockCode != null">stock_code,</if>
            <if test="stockTsCode != null">stock_ts_code,</if>
            <if test="stockName != null">stock_name,</if>
            <if test="tradeDate != null">trade_date,</if>
            <if test="priceOpen != null">price_open,</if>
            <if test="priceChange != null">price_change,</if>
            <if test="pctChg != null">pct_chg,</if>
            <if test="stockVol != null">stock_vol,</if>
            <if test="stockVolNum != null">stock_vol_num,</if>
            <if test="stockAmount != null">stock_amount,</if>
            <if test="stockAmountNum != null">stock_amount_num,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stockCode != null">#{stockCode},</if>
            <if test="stockTsCode != null">#{stockTsCode},</if>
            <if test="stockName != null">#{stockName},</if>
            <if test="tradeDate != null">#{tradeDate},</if>
            <if test="priceOpen != null">#{priceOpen},</if>
            <if test="priceChange != null">#{priceChange},</if>
            <if test="pctChg != null">#{pctChg},</if>
            <if test="stockVol != null">#{stockVol},</if>
            <if test="stockVolNum != null">#{stockVolNum},</if>
            <if test="stockAmount != null">#{stockAmount},</if>
            <if test="stockAmountNum != null">#{stockAmountNum},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateStockTradeDayAverage" parameterType="com.qiuge.stock.domain.StockTradeDayAverage">
        update stock_trade_day_average
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockCode != null">stock_code = #{stockCode},</if>
            <if test="stockTsCode != null">stock_ts_code = #{stockTsCode},</if>
            <if test="stockName != null">stock_name = #{stockName},</if>
            <if test="tradeDate != null">trade_date = #{tradeDate},</if>
            <if test="priceOpen != null">price_open = #{priceOpen},</if>
            <if test="priceChange != null">price_change = #{priceChange},</if>
            <if test="pctChg != null">pct_chg = #{pctChg},</if>
            <if test="stockVol != null">stock_vol = #{stockVol},</if>
            <if test="stockVolNum != null">stock_vol_num = #{stockVolNum},</if>
            <if test="stockAmount != null">stock_amount = #{stockAmount},</if>
            <if test="stockAmountNum != null">stock_amount_num = #{stockAmountNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockTradeDayAverageById" parameterType="String">
        delete from stock_trade_day_average where id = #{id}
    </delete>

    <delete id="deleteStockTradeDayAverageByIds" parameterType="String">
        delete from stock_trade_day_average where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>