<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuge.stock.mapper.SwCodeRefMapper">
    


    <sql id="selectSwCodeRefVo">
        select id, sw_level, sw_code_name, sw_code, code, name, create_time from sw_code_ref
    </sql>

    <select id="selectSwCodeRefList" parameterType="com.qiuge.stock.domain.SwCodeRef" >
        <include refid="selectSwCodeRefVo"/>
        <where>  
            <if test="swLevel != null "> and sw_level = #{swLevel}</if>
            <if test="swCodeName != null  and swCodeName != ''"> and sw_code_name like concat('%', #{swCodeName}, '%')</if>
            <if test="swCode != null  and swCode != ''"> and sw_code = #{swCode}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectSwCodeRefById" parameterType="String" >
        <include refid="selectSwCodeRefVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSwCodeRef" parameterType="com.qiuge.stock.domain.SwCodeRef">
        insert into sw_code_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="swLevel != null">sw_level,</if>
            <if test="swCodeName != null and swCodeName != ''">sw_code_name,</if>
            <if test="swCode != null and swCode != ''">sw_code,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="swLevel != null">#{swLevel},</if>
            <if test="swCodeName != null and swCodeName != ''">#{swCodeName},</if>
            <if test="swCode != null and swCode != ''">#{swCode},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSwCodeRef" parameterType="com.qiuge.stock.domain.SwCodeRef">
        update sw_code_ref
        <trim prefix="SET" suffixOverrides=",">
            <if test="swLevel != null">sw_level = #{swLevel},</if>
            <if test="swCodeName != null and swCodeName != ''">sw_code_name = #{swCodeName},</if>
            <if test="swCode != null and swCode != ''">sw_code = #{swCode},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSwCodeRefById" parameterType="String">
        delete from sw_code_ref where id = #{id}
    </delete>

    <delete id="deleteSwCodeRefByIds" parameterType="String">
        delete from sw_code_ref where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>